<div class="container">
  <h1>Example 1: Get Selected DropDown Value on Form Submit</h1>
      
  <form [formGroup]="form" (ngSubmit)="submit()">
         
      <div class="form-group">
          <label for="website">Website:</label>
          <select formControlName="website" class="form-control">
              <option disabled>Select Website</option>
              <option>Choose Website</option>
              <option *ngFor="let web of websiteList">{{web}}</option>
          </select>
          <div *ngIf="f.website.touched && f.website.invalid" class="alert alert-danger">
              <div *ngIf="f.website.errors.required">Name is required.</div>
          </div>
      </div>
     
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </form>

  <div class="container">
    <h1>Example 2: Get Selected DropDown Value on Change Event</h1>
      
    <form [formGroup]="form" (ngSubmit)="submit()">
          
        <div class="form-group">
            <label for="website">Website:</label>
            <select formControlName="website" class="form-control" (change)="changeWebsite($event)">
                <option disabled>Select Website</option>
                <option>Choose Website</option>
                <option *ngFor="let web of websiteList">{{web}}</option>
            </select>
            <div *ngIf="f.website.touched && f.website.invalid" class="alert alert-danger">
                <div *ngIf="f.website.errors.required">Name is required.</div>
            </div>
        </div>
      
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>





<div class="container">
  <h1>Example 3: Get Selected DropDown Value on Change Event and open new drowdown</h1>
    
  <form [formGroup]="form">
    
      <div class="form-group">
        <label for="consumable" required>Type</label>
        <select formControlName="consumable" class="form-control" (change)="changeConsumable($event)">
            <option disabled>Select Type</option>
            <option></option>
            <option *ngFor="let type of consumablesList">{{type}}</option>
        </select>
        <div *ngIf="f.consumable.touched && f.consumable.invalid" class="alert alert-danger">
            <div *ngIf="f.consumable.errors.required">Type is required.</div>
        </div>
      </div>
  </form>
  <div>
  <form [formGroup]="form" *ngIf="selectedType == 'Meat/Poultry' || selectedType == 'Meat 1' || selectedType == 'Meat 2' || selectedType == 'Meat 3'">
    
    <div class="form-group">
      <label for="item" required>Meat/Poultry Items</label>
      <select formControlName="item" class="form-control" (change)="changeMeatList($event)">
          <option disabled>Select Type</option>
          <option></option>
          <option *ngFor="let item of meatList">{{item}}</option>
      </select>
      <div *ngIf="f.item.touched && f.item.invalid" class="alert alert-danger">
          <div *ngIf="f.item.errors.required">Item is required.</div>
      </div>
    </div>
</form>
</div>
<div>
  <form [formGroup]="form" *ngIf="selectedType == 'Human Food' || selectedType == 'Human 1' || selectedType == 'Human 2' || selectedType == 'Human 3'">
    
    <div class="form-group">
      <label for="item" required>Human Food Items</label>
      <select formControlName="item" class="form-control" (change)="changeHumanList($event)">
          <option disabled>Select Type</option>
          <option></option>
          <option *ngFor="let item of humanList">{{item}}</option>
      </select>
      <div *ngIf="f.item.touched && f.item.invalid" class="alert alert-danger">
          <div *ngIf="f.item.errors.required">Item is required.</div>
      </div>
    </div>
</form>
</div>
<div>
  <form [formGroup]="form" *ngIf="selectedType == 'Animal Food' || selectedType == 'Animal 1' || selectedType == 'Animal Food 2' || selectedType == 'Animal Food 3'">
    
    <div class="form-group">
      <label for="item" required>Animal Food Items</label>
      <select formControlName="item" class="form-control" (change)="changeAnimalList($event)">
          <option disabled>Select Type</option>
          <option></option>
          <option *ngFor="let item of animalList">{{item}}</option>
      </select>
      <div *ngIf="f.item.touched && f.item.invalid" class="alert alert-danger">
          <div *ngIf="f.item.errors.required">Item is required.</div>
      </div>
    </div>
</form>
</div>
  <div>
  <form [formGroup]="form" (change)="changeFDA($event)">
    
    <div class="form-group" *ngIf="selectedType == 'Animal 1' || selectedType == 'Animal Food 2' || selectedType == 'Animal Food 3' || selectedType == 'Human 1' || selectedType == 'Human 2' || selectedType == 'Human 3' || selectedType == 'Meat 1' || selectedType == 'Meat 2' || selectedType == 'Meat 3'">
      <label for="FDARequired" required>FDA Required?</label>
          <input type="radio" name="FDARadio" aria-label="is fda required" (changed)="checked=$event"/>
          <label>Yes</label>

          <input type="radio" name="FDARadio" aria-label="is fda required" (changed)="checked=$event"/>
          <label>No</label>
      </div>
  </form>
  </div>
</div>